<nav class="light-green darken-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">Inicio</a></li>
            <li><a href="collapsible.html">Conocer</a></li>
            <li><a href="badges.html">Nosotros</a></li>
        </ul>
    </div>
</nav>

<main class="container">
    <div class="col s12 m7">
        <h4 class="header">Aprende a reciclar</h4>
        <div class="card horizontal">
            <div class="card-image">
                <%= image_tag 'iphone.png' %>
            </div>
            <div class="card-stacked">
                <div class="card-content vertical-center">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Non repudiandae et assumenda minus id, maxime provident 
                        eaque recusandae ipsam veniam quasi, sequi est! A alias 
                        tenetur laboriosam repellendus sunt assumenda?
                    </p>
                    
                </div>
                <div class="card-action" style=" text-align: center;">
                    <a href="#">Conoce más</a>
                </div>
            </div>
        </div>

        <div>
            <div style=" text-align: center;"> 
                <h2>Funcionalidades principales</h2>
            </div>
            <div style=" display: flex;
            flex-direction: row;">
            <div class="card horizontal">
            <div class="card-image center-img" >
                    <i class="large material-icons add_a_photo"></i>
            </div>
            
                <div class="card-stacked">
                    <div class="card-content ">
                            <h5>Funcionalidad 1</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Non repudiandae et 
                        </p>
                        
                    </div>
                    <!--div class="card-action" style=" text-align: center;">
                        <a href="#">Conoce más</a>
                    </div-->
                </div>
            
            
        </div>
        <div class="card horizontal">
            <div class="card-image center-img" >
                <img src="images/iphone.png" height="40px" >
            </div>
            
                <div class="card-stacked">
                    <div class="card-content ">
                            <h5>Funcionalidad 2</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Non repudiandae et assumenda minus id
                        </p>
                        
                    </div>
                    <!--div class="card-action" style=" text-align: center;">
                        <a href="#">Conoce más</a>
                    </div-->
                </div>
            
            
        </div>
        </div>
        <div style=" display: flex;
            flex-direction: row;">
            <div class="card horizontal">
            <div class="card-image center-img" >
                <img src="images/iphone.png" height="40px" >
            </div>
            
                <div class="card-stacked">
                    <div class="card-content ">
                            <h5>Funcionalidad 3</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Non repudiandae et 
                        </p>
                        
                    </div>
                    <!--div class="card-action" style=" text-align: center;">
                        <a href="#">Conoce más</a>
                    </div-->
                </div>
            
            
        </div>
        <div class="card horizontal">
            <div class="card-image center-img" >
                <img src="images/iphone.png" height="40px" >
            </div>
            
                <div class="card-stacked">
                    <div class="card-content ">
                            <h5>Funcionalidad 4</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Non repudiandae et assumenda minus id
                        </p>
                        
                    </div>
                    <!--div class="card-action" style=" text-align: center;">
                        <a href="#">Conoce más</a>
                    </div-->
                </div>
            
            
        </div>
        </div>
        </div>



    </div>
</main>